<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.hotel.data.hotel.TagMapper">

    <insert id="insert" parameterType="com.example.hotel.po.Tag"
    useGeneratedKeys="true" keyProperty="tagId">
        insert into Tag(tagName)
        values (#{tagName})
    </insert>

    <select id="selectById" resultMap="Tag">
        select * from Tag where tagId=#{tagId}
    </select>

    <select id="selectByName" resultMap="Tag">
        select * from Tag where tagName=#{tagName}
    </select>


    <resultMap id="Tag" type="com.example.hotel.po.Tag">
        <id column="tagId" property="tagId"></id>
        <result column="tagName" property="tagName"></result>
    </resultMap>


</mapper>